<div id="activity-feed-bar" class="activity-feed-bar">
  <div class="activity-feed-content">
    <svg class="activity-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M10 2v5.632c0 .424-.272.863-.697 1.039L4 11v8c0 .53.47 1 1 1h14c.53 0 1-.47 1-1v-8l-5.303-2.329c-.425-.176-.697-.615-.697-1.039V2"/>
      <path d="M7 2h10"/>
      <path d="M7 20h10"/>
    </svg>
    <span class="activity-message"></span>
  </div>
</div>
