<div class="tavern-embers">
  <div class="ember"></div>
  <div class="ember"></div>
  <div class="ember"></div>
  <div class="ember"></div>
  <div class="ember"></div>
  <div class="ember"></div>
  <div class="ember"></div>
  <div class="ember"></div>
</div>
<div class="tavern-glow"></div>
